Transaq/Output/Schema/boards.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boards">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="board">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="market" type="xs:unsignedByte" />
              <xs:element name="type" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>