Transaq/Output/Schema/candles.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="candles">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="candle" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="date" use="optional"/>
                <xs:attribute type="xs:float" name="open" use="optional"/>
                <xs:attribute type="xs:float" name="close" use="optional"/>
                <xs:attribute type="xs:float" name="high" use="optional"/>
                <xs:attribute type="xs:int" name="oi" use="optional"/>
                <xs:attribute type="xs:float" name="low" use="optional"/>
                <xs:attribute type="xs:short" name="volume" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="secid"/>
      <xs:attribute type="xs:string" name="board"/>
      <xs:attribute type="xs:string" name="seccode"/>
      <xs:attribute type="xs:byte" name="period"/>
      <xs:attribute type="xs:byte" name="status"/>
    </xs:complexType>
  </xs:element>
</xs:schema>