Transaq/Output/Schema/client.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="client">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="type"/>
        <xs:element type="xs:string" name="currency"/>
        <xs:element type="xs:integer" name="market"/>
        <xs:element type="xs:string" name="union"/>
        <xs:element type="xs:string" name="forts_acc"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="remove"/>
    </xs:complexType>
  </xs:element>
</xs:schema>