Transaq/Output/Schema/quotes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="quote">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="board" type="xs:string" />
              <xs:element name="seccode" type="xs:string" />
              <xs:element name="price" type="xs:decimal" />
              <xs:element name="yield" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="sell" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="buy" type="xs:unsignedShort" />
            </xs:sequence>
            <xs:attribute name="secid" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>