src/ru/kaserv/transaq/command/SubscribeCommand.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubscribeCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alltrades">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="security" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="board"/>
                    <xs:element type="xs:string" name="seccode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="quotations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="security" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="board"/>
                    <xs:element type="xs:string" name="seccode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="quotes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="security" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="board"/>
                    <xs:element type="xs:string" name="seccode"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>