src/ru/kaserv/transaq/object/Trades.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="trades">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trade" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="secid"/>
              <xs:element type="xs:long" name="tradeno"/>
              <xs:element type="xs:long" name="orderno"/>
              <xs:element type="xs:string" name="board"/>
              <xs:element type="xs:string" name="seccode"/>
              <xs:element type="xs:string" name="client"/>
              <xs:element type="xs:string" name="union"/>
              <xs:element type="xs:string" name="buysell"/>
              <xs:element type="xs:string" name="time"/>
              <xs:element type="xs:string" name="brokerref"/>
              <xs:element type="xs:decimal" name="value"/>
              <xs:element type="xs:decimal" name="comission"/>
              <xs:element type="xs:decimal" name="price"/>
              <xs:element type="xs:long" name="items"/>
              <xs:element type="xs:int" name="quantity"/>
              <xs:element type="xs:decimal" name="yield"/>
              <xs:element type="xs:decimal" name="accruedint"/>
              <xs:element type="xs:string" name="tradetype"/>
              <xs:element type="xs:string" name="settlecode"/>
              <xs:element type="xs:long" name="currentpos"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


